*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* go healthy heading lai decorate garna juna hamro nav  bar ma xa */
.menu_heading
{
    color: green;
    font-size: 40px;
}
/* nav tag lai select garera flex property use garna */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
ul>li
{
display: inline-block;
margin-right: 52px;
/* list-style-type:none ; yadi float: left or right use gare; */

}
ul>li>a
{
    color:black;
    text-decoration: none;
    font-size:larger;
}